/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
  font-family: $font-primary;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  padding: 0;
  min-width: 320px;
  box-sizing: border-box;
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
