@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin set-typography($size: 20px, $line-height: 20px, $color: $color-black, $family: $font-primary) {
  color: $color;
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
  font-weight: 400;
  font-style: normal;
}

@mixin set-typography-additional($text-transform:uppercase) {
  text-transform: $text-transform;
}

@mixin set-svg-sprite($id-svg:arrow, $width: 20px, $height: 20px) {
  background-image: url("../../images/icons/stack.svg##{$id-svg}");
  background-size: $width $height;
}

@mixin set-svg-sprite-mask($id-svg:arrow) {
  mask-image: url("../../images/icons/stack.svg##{$id-svg}");
  mask-position: center;
  mask-repeat: no-repeat;
}

@mixin set-background-svg-options($x: 50%, $y: 50%, $repeat: no-repeat) {
  background-position: $x $y;
  background-repeat: no-repeat;
}

@mixin debugger-outline($color: gray, $type:solid, $width:1px) {
  outline: $width $type $color;
  background: #daadad;
}

@mixin set-flexbox($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: nowrap;
}

@mixin set-item-border($top:0, $right:0, $bottom:0, $left: 0) {
  content: "";
  margin-left: -$padding-mobile;
  border-bottom: 1px solid $color-border;
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
}

@mixin set-item-border-after() {
  &::after {
    @include set-item-border(0,0,0,0);
  }

  @media (min-width: $width-table) {
    &::after {
      display: none;
    }
  }
}

@mixin set-item-border-before() {
  &::before {
    @include set-item-border(0,0,100%,0);
  }

  @media (min-width: $width-table) {
    &::before {
      display: none;
    }
  }
}

@mixin set-item-border-middle() {
  &::before {
    @include set-item-border(0,0,35%,0);
  }
}

@mixin set-radio-btn-shadow($color-border, $sizeM: 9px, $sizeD: 11px) {
  box-shadow: inset 0 0 0 1px $color-border, inset 0 0 0 $sizeM $color-white;

  @media (min-width: $width-table) {
    box-shadow: inset 0 0 0 1px $color-border, inset 0 0 0 $sizeD $color-white;
  }
}
