@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin set-typography($size: 20px, $line-height: 20px, $color: $color-black, $family: $font-primary) {
  color: $color;
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-typography-additional($weight:400, $style: normal , $text-transform:uppercase) {
  font-style: $style;
  font-weight: $weight;
  text-transform: $text-transform;
}

@mixin set-svg-sprite($id-svg:arrow, $width: 20px, $height: 20px) {
  background-image: url("../../images/icons/stack.svg##{$id-svg}");
  background-size: $width $height;
}

@mixin set-svg-sprite-mask($id-svg:arrow, $width: 20px, $height: 20px) {
  mask-image: url("../../images/icons/stack.svg##{$id-svg}");
  background-size: $width $height;
}

@mixin set-background-svg-options($x: 50%, $y: 50%, $repeat: no-repeat) {
  background-position: $x $y;
  background-repeat: no-repeat;
}

@mixin debugger-outline($color: gray, $type:solid, $width:1px) {
  outline: $width $type $color;
}

@mixin set-flexbox($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin set-grid($direction: row) {
  display: grid;
}
