/* здесь используйте глобальные переменные */
$font-primary: "Oswald", sans-serif;
$font-secondary: "Lato", sans-serif;

$color-primary: #68b738;
$color-primary-hover: #5eaa2f;
$color-primary-active: #83c36d;
$color-primary-opacity: rgba(104, 183, 56, 0.85);

$color-border: #d9d9d9;
$color-border-100: #e7e7e7;
$color-border-200: #d3d3d3;
$color-border-500: #ebebeb;
$color-border-400: #e6e6e6;
$color-border-600: #b3b3b3;
$color-block-back: #eaeaea;

$color-black: #000000;
$color-white: #ffffff;
$color-text-200: #f2f2f2;
$color-text-300: #cdcdcd;
$color-text-300: #cdcdcd;
$color-text-400: #444444;
$color-text-500: #666666;
$color-text-600: #111111;
$color-text-800: #222222;
$color-invalid: #ff8282;
$color-bg-test-svg: #de7f7f;
$color-bg-img: #3a4a30;

$width-mobile: 320px;
$width-table: 768px;
$width-desktop: 1440px;

$padding-mobile: 20px;
$padding-table: 30px;
$padding-desktop: 110px;
