/* здесь используйте глобальные переменные */
$font-primary: "Oswald", sans-serif;
$font-secondary: "Lato", sans-serif;

$color-primary: #68b738;
$color-primary-hover: #5eaa2f;
$color-primary-active: #83c36d;

$color-border: #d9d9d9;
$color-border-200: #d3d3d3;
$color-border-400: #E6E6E6;
$color-block-back: #eaeaea;

$color-black: #000000;
$color-white: #ffffff;
$color-text-200: #f2f2f2;
$color-text-300: #cdcdcd;
$color-text-400: #444444;
$color-text-500: #666666;
$color-text-600: #111111;
$color-text-800: #222222;

$width-mobile: 320px;
$width-table: 768px;
$width-desktop: 1440px;

$color-bg-test-svg: #de7f7f;

$padding-mobile: 20px;
$padding-table: 30px;
$padding-desktop: 110px;
