.main-content__sub-header h2.advanced__header {
  @media (min-width: $width-table) and (max-width: $width-desktop) {
    margin-left: 0;
    padding-left: 40px;
  }
}

.advanced__container {
  display: grid;
  gap: 34px;
  grid-template-rows: auto 290px;
  grid-template-columns: 1fr;
  padding-top: 34px;
  padding-bottom: 36px;

  @media (min-width: $width-table) {
    grid-template-rows: auto 200px;
    padding-top: 80px;
    gap: 68px;
    padding-bottom: 76px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: auto 245px;
    grid-template-rows: auto;
    padding-top: 79px;
    padding-bottom: 87px;
    gap: 80px;
  }
}

.advanced__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include set-flexbox(column);
}

.advanced__item {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 50%);
  border-bottom: 1px solid $color-border;
  padding-top: 12px;
  padding-bottom: 19px;

  &:nth-child(1) {
    border-top: 1px solid $color-border;
  }

  @media (min-width: $width-table) {
    grid-template-columns: auto auto 15%;
    padding: 25px 38px 27.5px;
    grid-template-rows: auto 40px;
    column-gap: 0;
    row-gap: 16px;
    border: 1px solid $color-border;
    border-bottom: 0;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    padding: 16px 0 15px;
    grid-template-columns: 285px 150px 1fr 244px;
    grid-template-rows: 40px;
    column-gap: 40px;
    align-items: baseline;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid $color-border;
  }
}

.advanced__head {
  @include set-typography(16px, 16px, $color-text-800);
  @include set-typography-additional();
  grid-column: 1/3;
  grid-row: 1/ 2;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;

  @media (min-width: $width-table) {
    @include set-typography(20px, 20px, $color-text-800);
    grid-column: inherit;
    grid-row: inherit;
    padding-bottom: 10px;
  }
}

.advanced__text {
  @include set-typography(14px, 14px, $color-text-400, $font-secondary);
  margin: 0;
  padding: 0;
  padding-bottom: 14px;

  @media (min-width: $width-table) {
    @include set-typography(16px, 20px, $color-text-400, $font-secondary);
    padding-bottom: 0;
    text-align: right;
  }

  @media (min-width: $width-desktop) {
    text-align: left;
  }
}

.advanced__text--price {
  text-align: right;
}

.advanced__button {
  grid-column: 1 / 3;

  @media (min-width: $width-table) {
    grid-column: -1/1;
    height: 100%;

    @include set-typography(16px, 20px, $color-white);
  }

  @media (min-width: $width-desktop) {
    grid-column: -1/4;
    grid-row: inherit;
  }
}
