.button {
  @include set-typography(16px, 29px, $color-white);
  @include set-typography-additional();
  width: auto;
  display: inline-flex;
  padding: 10px 44px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: $color-primary;
  height: 40px;
  border: 0;
  text-decoration: none;

  &:hover {
    background: $color-primary-hover;
  }

  &:active {
    color: $color-primary-active;
  }

  @media (min-width: $width-table) {
    @include set-typography(20px, 26px, $color-white);
    padding: 14px 26px;
    height: 54px;
  }
}

.button--default {
  background: $color-text-200;
  color: $color-text-400;

  &:hover {
    background: $color-border-500;
  }

  &:active {
    color: $color-text-400;
  }
}
