.catalog-values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $width-table) {
    row-gap: 7px;
  }

  @media (min-width: $width-desktop) {
    row-gap: 0;
  }
}

.catalog-values__text {
  @include set-typography(12px, 16px, $color-text-400, $font-secondary);
  margin: 0;
  padding: 0;

  @media (min-width: $width-table) {
    @include set-typography(16px, 20px, $color-text-400, $font-secondary);
    padding-bottom: 4px;
    border-bottom: 1px solid $color-border;
  }

  @media (min-width: $width-desktop) {
    @include set-typography(16px, 20px, $color-text-400, $font-secondary);
    padding-top: 6px;
    padding-bottom: 7px;
    border-bottom: 1px solid $color-border;
  }
}

.catalog-values__text--price {
  text-align: right;
}
