.catalog {
  list-style: none;
  padding-top: 8px;
  padding-bottom: 4px;

  @media (min-width: $width-table) {
    padding-top: 64px;
    padding-bottom: 41px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 73px;
    padding-bottom: 28px;
  }
}

.catalog__list {
  @include set-flexbox(column);
  flex-wrap: wrap;
  list-style: none;
  padding-top: 41px;

  @media (min-width: $width-table) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 68px 60px;
    padding-top: 90px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 69px;
  }
}

.catalog__item {
  position: relative;
  @include set-item-border-after();
}
