.catalog {
  list-style: none;
  padding-top: 27px;
  padding-bottom: 4px;

  @media (min-width: $width-table) {
    padding-top: 49px;
    padding-bottom: 50px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 57px;
    padding-bottom: 55px;
  }
}

.catalog__list {
  @include set-flexbox(column);
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 41px;

  @media (min-width: $width-table) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
    padding-top: 165px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 144px;
  }
}

.catalog__item {
  position: relative;

  @include set-item-border-after();
}
