.container {
  width: calc(100% - 2 * $padding-mobile);
  padding-right: $padding-mobile;
  padding-left: $padding-mobile;

  @media (min-width: $width-table) {
    width: calc(100% - 2 * $padding-table);
    padding-right: $padding-table;
    padding-left: $padding-table;
  }

  @media (min-width: $width-desktop) {
    max-width: 1220px;
    margin: 0 auto;
  }
}
