.container {
  width: 100%;
  max-width: $width-desktop;
  margin: 0 auto;
  padding-right: $padding-mobile;
  padding-left: $padding-mobile;

  @media (min-width: $width-table) {
    padding-right: $padding-table;
    padding-left: $padding-table;
  }

  @media (min-width: $width-desktop) {
    padding-right: $padding-desktop;
    padding-left: $padding-desktop;
  }
}
