.copyright {
  @include set-flexbox();
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  border-top: 1px solid $color-border;

  &:hover svg {
    stroke: $color-primary;
  }

  &:active {
    svg {
      stroke: $color-primary;
    }

    * {
      opacity: 0.3;
    }
  }

  @media (min-width: $width-table) {
    border-top: 0;
    padding-top: 0;
    justify-content: flex-end;
    gap: 23px;
  }
}

.copyright__name {
  text-decoration: none;

  @include set-typography(16px, 20px, $color-text-400, $font-secondary);
}
