.example {
  background: $color-block-back;
  padding-top: 26px;
  padding-bottom: 39px;

  @media (min-width: $width-table) {
    padding-top: 41px;
    border-top: 1px solid $color-border-400;
    background: linear-gradient(0deg, $color-block-back 462px, transparent 0);
    padding-bottom: 101px;

    div.example {
      background: $color-white;
    }
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 76px;
    border-top: 0;
    background: linear-gradient($color-white 147px, $color-block-back 0%);
    padding-top: 7px;
  }
}

.example__container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 20px;

  @media (min-width: $width-table) {
    padding-top: 4px;
    gap: 45px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.example__text {
  @include set-typography(14px, 18px, $color-text-400, $font-secondary);
  width: 100%;
  margin: 0;
  padding: 23px 0 0;

  @media (min-width: $width-table) {
    @include set-typography(16px, 24px, $color-black, $font-secondary);
    padding: 15px 0 8px;
  }

  @media (min-width: $width-desktop) {
    @include set-typography(16px, 24px, $color-black, $font-secondary);
    padding-top: 101px;
    padding-bottom: 21px;
    max-width: 433px;
    text-wrap: pretty;
  }
}

.example__title {
  @include set-typography(12px, 12px, $color-text-400, $font-secondary);
  padding-left: 21px;
  padding-right: 23px;
  margin: 0 auto;

  @media (min-width: $width-table) {
    @include set-typography(14px, 14px, $color-text-400, $font-secondary);
    padding-left: 32px;
    padding-right: 34px;
  }
}

.example__item--days .example__title {
  @media (min-width: $width-table) {
    padding-left: 5px;
    padding-right: 5px;
    background: $color-white;
  }

  @media (min-width: $width-desktop) {
    background: $color-block-back;
  }
}

.example__definition {
  @include set-typography(24px, 24px);
  text-align: center;
  padding-bottom: 9px;
  padding-top: 14px;

  @media (min-width: $width-table) {
    @include set-typography(30px, 37px);
    padding-top: 18px;
    padding-bottom: 11px;
  }
}

.example__total {
  @include set-typography(14px, 20px);
  @include set-typography-additional();

  @media (min-width: $width-table) {
    @include set-typography(20px, 20px);
  }

  @media (min-width: $width-desktop) {
    text-align: left;
  }
}

.example__values {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  gap: 32px;

  @media (min-width: $width-table) {
    grid-template-columns: repeat(2, 162px);
    gap: 42px;
  }
}

.example__list {
  display: grid;
  grid-template-rows: 70px auto;
  row-gap: 21px;
  justify-content: center;

  @media (min-width: $width-table) {
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-bottom: 55px;
  }

  @media (min-width: $width-desktop) {
    grid-template-rows: 77px auto;
    grid-template-columns: 1fr;
    justify-content: start;
    row-gap: 56px;
    padding-bottom: 0;
  }
}

.example__item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;

  @include set-svg-sprite("weight-back", 124px, 56px);
  @include set-background-svg-options();
  width: 124px;
  height: 56px;

  @media (min-width: $width-table) {
    width: 162px;
    height: 77px;

    @include set-svg-sprite("weight-back", 162px, 77px);
  }
}

.example__values-total {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 188px;
  margin: 0 auto;

  @media (min-width: $width-table) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: auto;
    text-align: right;
    gap: 10px;
    background: $color-white;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 174px 162px;
    grid-template-rows: auto;
    margin: 0;
    text-align: center;
    column-gap: 63px;
    background: $color-block-back;
  }
}

.example__image {
  @media (min-width: $width-desktop) {
    grid-column: 2 / 3;
    grid-row: 1/ 4;
  }
}
