.feature {
  display: grid;
  grid-template-rows: auto auto;
  gap: 21px;

  @media (min-width: $width-table) {
    gap: 29px;
    padding-bottom: 25px;
    margin-top: -50px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 80px;
    padding-bottom: 50px;
    margin-top: -50px;
  }
}

.feature__item {
  position: relative;
  background: $color-text-200;
  padding: 22px 20px;
  display: grid;
  grid-template-areas:
    "icon name"
    "text text"
    "link link";
  grid-template-rows: 50px 1fr auto;
  grid-template-columns: 70px 1fr;
  text-align: left;
  align-items: center;

  @media (min-width: $width-table) {
    grid-template-areas:
      "name icon"
      "text icon"
      "link .";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 270px;
    padding: 77px 45px 57px 52px;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    grid-template-areas:
      "icon name"
      "text text"
      "link link";
    grid-template-rows: 100px 1fr auto;
    grid-template-columns: 100px 1fr;
    text-align: left;
    padding: 45px 62px 58px 52px;
  }
}

.feature__icon-container {
  grid-area: icon;
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: $color-primary;
  border-radius: 50%;

  @media (min-width: $width-table) {
    top: 15px;
    left: 50px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $width-desktop) {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }
}

.feature__name {
  @include set-typography(24px, 37px);
  @include set-typography-additional();
  grid-area: name;
  margin: 0;
  padding: 0;

  @media (min-width: $width-table) {
    @include set-typography(36px, 36px);
  }

  @media (min-width: $width-desktop) {
    @include set-typography(36px, 36px);
    padding: 0 63px 0;
  }
}

.feature__text {
  grid-area: text;
  margin: 0;
  padding: 23px 0 22px;
  border-bottom: 1px solid $color-border;

  @include set-typography(14px, 18px, $color-text-400, $font-secondary);

  @media (min-width: $width-table) {
    padding: 18px 0 40px;
    border-bottom: 0;
    min-width: 340px;

    @include set-typography(16px, 24px, $color-black, $font-secondary);
  }

  @media (min-width: $width-desktop) {
    width: 100%;
    padding: 41px 0 18px;
  }
}

.feature__link {
  @include set-typography(16px, 16px);
  @include set-typography-additional();
  grid-area: link;
  text-decoration: none;
  margin-top: 20px;
  position: relative;
  display: inline-block;

  &:hover::after {
    background-position: center left;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 32px;
    height: 15px;
    margin-left: 15px;
    background-image: url("../../images/icons/stack.svg#arrow");

    @include set-background-svg-options(center, left -5px);
    transform: translateY(-50%);

    @media (min-width: $width-table) {
      margin-left: 25px;
    }
  }

  @media (min-width: $width-table) {
    @include set-typography(20px, normal);
    margin-top: 10px;
    padding-right: 20px;
  }
}

.feature__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature__icon--slim {
  width: 50px;
  height: 50px;
  margin-top: -3px;

  @media (min-width: $width-table) {
    width: 192px;
    height: 193px;
    margin-top: -11px;
  }

  @media (min-width: $width-desktop) {
    width: 70px;
    height: 120px;
    margin-top: -6px;
  }
}

.feature__icon--mass {
  width: 66px;
  height: 67px;

  @media (min-width: $width-table) {
    width: 268px;
    height: 271px;
  }

  @media (min-width: $width-desktop) {
    width: 134px;
    height: 56px;
  }
}
