.field {
  position: relative;

  @include set-typography-additional();
  @include set-typography(16px, 18px, $color-text-400);
  padding: 13px 14px 12px;
  width: fill-available;
  border: 1px solid $color-border-100;

  &::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  &:hover {
    border: 1px solid $color-text-300;
  }

  &:focus {
    outline: 2px solid $color-text-400;
    outline-offset: -2px;
  }

  &:invalid {
    outline: 2px solid $color-invalid;
    outline-offset: -2px;
  }

  @media (min-width: $width-table) {
    padding: 13px 18px 14px;
    height: auto;
    line-height: 22px;

    @include set-typography(20px, 22px, $color-text-400);
  }
}

.form-group__wrapper .field {
  padding-right: 40px;
}

.field[type="radio"] {
  position: absolute;
  left: -9999px;
  margin: 0;

  &:checked + label {
    &::before {
      box-shadow: inset 0 0 0 1px #cdcdcd, inset 0 0 0 9px $color-white;
      background: $color-primary;

      @media (min-width: $width-table) {
        box-shadow: inset 0 0 0 1px #cdcdcd, inset 0 0 0 11px $color-white;
      }
    }
  }

  &:focus {
    outline: 0 solid $color-text-400;
  }

  &:disabled + label {
    opacity: 0.3;
  }
}

.field[type="radio"] + label {
  display: flex;
  align-items: center;
  padding-top: 0;
  border-radius: 99em;
  transition: 0.25s ease;

  &::before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 1px $color-text-300;

    @media (min-width: $width-table) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}

textarea.field {
  resize: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  @media (min-width: $width-table) {
    padding-left: 59px;
  }
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid $color-text-300;

  @media (min-width: $width-table) {
    width: 40px;
    height: 40px;
  }
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../../images/icons/stack.svg#sel");
  background-position: center;
  background-size: 24px 20px;
  background-repeat: no-repeat;
}
