.field {
  @include set-typography-additional();
  @include set-typography(16px, 18px, $color-text-400);
  padding: 13px 14px 12px;
  border: 1px solid $color-border-100;
  width: 100%;
  position: relative;

  &::placeholder {
    color: $color-text-400;
    opacity: 1;
  }

  &:hover {
    border: 1px solid $color-text-300;
  }

  &:focus {
    outline: 2px solid $color-text-400;
    outline-offset: -2px;
  }

  &:invalid {
    outline: 2px solid $color-invalid;
    outline-offset: -2px;
  }

  @media (min-width: $width-table) {
    padding: 13px 18px 14px;
    height: auto;
    line-height: 22px;

    @include set-typography(20px, 22px, $color-text-400);
  }
}

.field--radio {
  position: absolute;
  left: -9999px;
  margin: 0;
  cursor: pointer;
  width: 0;

  &:hover + label::before,
  &:focus + label::before {
    box-shadow: inset 0 0 0 1px #bababa, inset 0 0 0 9px $color-white;

    @media (min-width: $width-table) {
      box-shadow: inset 0 0 0 1px #bababa, inset 0 0 0 11px $color-white;
    }
  }

  &:disabled + label {
    opacity: 0.3;
    cursor: not-allowed;

    &::before {
      box-shadow: inset 0 0 0 1px $color-text-300;
    }
  }
}

.field--radio + label {
  display: flex;
  align-items: center;
  padding-top: 0;
  border-radius: 99em;
  transition: 0.25s ease;
  cursor: pointer;
  z-index: 2;

  &::before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 1px $color-text-300;

    @media (min-width: $width-table) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}

.field--radio:checked + label::before {
  box-shadow: inset 0 0 0 1px #cdcdcd, inset 0 0 0 9px $color-white;
  background: $color-primary;

  @media (min-width: $width-table) {
    box-shadow: inset 0 0 0 1px #cdcdcd, inset 0 0 0 11px $color-white;
  }
}

.field--radio:checked:focus + label::before,
.field--radio:checked:hover + label::before {
  box-shadow: inset 0 0 0 1px #bababa, inset 0 0 0 9px $color-white;
  background: $color-primary;

  @media (min-width: $width-table) {
    box-shadow: inset 0 0 0 1px #bababa, inset 0 0 0 11px $color-white;
  }
}

.field--textarea {
  resize: none;
}

.field--checkbox {
  display: none;

  &:hover + label::before,
  &:focus + label::before {
    border-color: $color-border-700;
  }

  &:disabled + label {
    opacity: 0.3;
    cursor: not-allowed;

    &::before {
      border-color: $color-text-300;
    }
  }
}

.field--checkbox + label {
  position: relative;
  padding-left: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  @media (min-width: $width-table) {
    padding-left: 59px;
  }
}

.field--checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid $color-text-300;

  @media (min-width: $width-table) {
    width: 40px;
    height: 40px;
  }
}

.field--checkbox:checked + label::before {
  background-image: url("../../images/icons/stack.svg#sel");
  background-position: center;
  background-size: 59%;
  background-repeat: no-repeat;
}
