.form__container {
  @include set-flexbox(column, 25px);

  @media (min-width: $width-table) {
    width: calc(100% - 40px * 2);
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: calc(100%);
  }
}

.form__list {
  @include set-flexbox(column);
  gap: 14px;
  //padding-top: 22px;
  padding-top: 8px;
  padding-bottom: 25px;
  position: relative;

  @media (min-width: $width-table) {
    padding-top: 51px;
    padding-bottom: 71px;
    gap: 22px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 49px;
  }
}

.form__list:nth-child(1) {
  padding-top: 0;
}

.form__wrapper {
  position: relative;

  @include set-flexbox(column);

  @media (min-width: $width-table) {
    padding-bottom: 41px;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-start;
    gap: 80px;
  }
}

.form__wrapper .form__list--main {
  @media (min-width: $width-desktop) {
    padding-bottom: 3px;
  }
}

.form__list--radio {
  gap: 13px;
  padding-top: 22px;
  padding-bottom: 19px;

  @media (min-width: $width-table) {
    padding: 22px 26px 26px;
    border: 1px solid $color-border;
  }
}

.form__list--contacts {
  padding-top: 9px;
  padding-bottom: 0;

  @media (min-width: $width-table) {
    padding-top: 51px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 5px;
  }
}

.form__list-comment {
  padding-top: 12px;
  padding-bottom: 0;
  margin-bottom: -2px;

  @media (min-width: $width-table) {
    padding-top: 62px;
    padding-bottom: 43px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 53px;
    padding-bottom: 50px;
  }
}

.form__list-additional {
  padding-top: 8px;
  gap: 13.5px;

  @media (min-width: $width-table) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px;
    padding-top: 32px;
    row-gap: 32px;
    column-gap: 62px;
    padding-bottom: 41px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 40px;
    padding-top: 31px;
    column-gap: 20px;
    padding-bottom: 50px;
  }
}

.form__list--border {
  @include set-item-border-after();
}

.form__list--contacts .form__wrapper {
  gap: 14px;

  @media (min-width: $width-table) {
    gap: 22px;
  }

  @media (min-width: $width-desktop) {
    gap: 79px;
  }
}


.form__header {
  @media (max-width: $width-table) {
    max-width: 187px;
  }
}
