.form-group {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 14px;
  align-items: center;
  position: relative;
}

.form-group--comment {
  grid-template-columns: 1fr;
  height: 150px;

  @media (min-width: $width-table) {
    height: 202px;
  }
}

.form-group--comment .form-group__field {
  padding: 12px 14px;
  height: 150px;

  @media (min-width: $width-table) {
    padding: 14px 20px;
    height: calc(100% - 28px);
  }

  @media (min-width: $width-desktop) {
    padding: 12px 19px;
    height: calc(100% - 26px);
  }
}

.form-group--radio {
  grid-template-columns: 1fr;
}

.form-group--radio .form-group__field {
  padding-top: 6px;
  padding-left: 14px;
  padding-bottom: 6px;
  padding-right: 14px;
  height: calc(100% - 26px);
}

.form-group__label {
  @include set-typography(16px, 18px, $color-text-400);
  @include set-typography-additional();
  text-wrap: nowrap;

  @media (min-width: $width-table) {
    @include set-typography(20px, normal);
  }
}

.form-group__wrapper {
  position: relative;
}

.form-group__icon {
  position: absolute;
  right: 13px;
  top: 14px;
  transition: color 0.15s ease-in-out;

  .form-group__field:focus + & {
    color: $color-primary;
  }

  .form-group__field:invalid + & {
    color: $color-invalid;
  }

  @media (min-width: $width-table) {
    top: 17px;
    right: 15px;
  }
}
