.location {
  position: relative;
}

.location__container {
  display: grid;
  padding-top: 26px;
  padding-bottom: 26px;
  grid-template-columns: repeat(2, 140px);

  justify-content: space-between;
  align-content: space-between;
  z-index: 2;
  background: $color-text-200;

  @media (min-width: $width-table) {
    grid-template-columns: 163px 157px;
    padding: 62px 70px 58px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 163px 1fr;
    padding: 60px 78px 60px 80px;
    position: absolute;
    top: 95px;
    left: calc((100% - $width-desktop)/ 2 + $padding-desktop);
    width: 565px;
    background: $color-white;
    gap: 87px;
    justify-content: flex-start;
    align-items: center;
  }
}

.location__container--index {
  background: $color-white;
}

.location__invitation {
  margin: 0;
  padding: 0;

  @include set-typography(16px, 20px, $color-text-600);
  @include set-typography-additional();

  @media (min-width: $width-table) {
    @include set-typography(20px, 26px, $color-text-600);
  }
}

.location__address p {
  margin: 0;
  padding: 0;
  font-style: normal;

  @include set-typography(14px, 20px, $color-text-400, $font-secondary);
  margin-left: auto;

  @media (min-width: $width-table) {
    @include set-typography(16px, 20px, $color-text-400, $font-secondary);
    text-align: right;
  }

  @media (min-width: $width-desktop) {
    text-align: left;
  }
}


.location__text--hidden {
  display: none;

  @media (min-width: $width-table) {
    display: block;
  }
}

.location__map {
  width: 100%;
  height: 362px;
  overflow: hidden;

  @media (min-width: $width-table) {
    height: 400px;
  }
}
