.main-header {
  padding-top: 13px;

  @media (min-width: $width-table) {
    @include set-flexbox();
    flex-wrap: nowrap;
    padding-top: 26px;
    padding-bottom: 0;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    padding-top: 56px;
  }
}

div.main-header__container {
  @include set-flexbox();
  align-items: center;
  padding-bottom: 14px;

  @media (min-width: $width-table) {
    flex: 0 1;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.main-header__logo {
  @include set-flexbox();
  align-items: center;
  justify-content: start;
  gap: 56px;
}

.main-header__toggle {
  width: 25px;
  height: 24px;
  margin-left: auto;

  @include set-svg-sprite-mask("menu", 25px, 24px);
  @include set-background-svg-options();

  background-color: $color-black;

  &--closed {
    width: 18px;
    height: 20px;

    @include set-svg-sprite-mask("close", 18px, 20px);
  }

  @media (min-width: $width-table) {
    display: none;
  }
}

.main-header__nav {
  display: none;

  @media (min-width: $width-table) {
    display: flex;
  }
}
