.main-content {
  @include set-flexbox(column);
  row-gap: 20px;
}

.main-content__header {
  @include set-typography(36px, 36px);
  padding-bottom: 40px;

  @media (min-width: $width-table) {
    @include set-typography(60px, 60px);
  }
}

.main-content__sub-header {
  position: relative;
  z-index: 2;
  max-width: 187px;

  h2 {
    padding-right: 20px;
    position: relative;
    width: fit-content;
    background: $color-white;
    z-index: 2;

    @include set-typography(24px, 26px);

    @media (min-width: $width-table) {
      padding: 40px;

      @include set-typography(36px, 36px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: -100%;
    top: 50%;
    display: flex;
    width: 20000px;
    height: 2px;
    background: $color-primary;
    z-index: 1;
  }
}
