.main-header {
  position: relative;
  z-index: 5;
}

.main-header--border {
  border-bottom: 1px solid $color-border;

  @media (min-width: $width-table) {
    border: 0;
  }
}

.main-header__container {
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $width-table) {
    padding-top: 25px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 55px;
  }
}
