.main-content {
  @include set-flexbox(column, $padding-mobile);

  @media (max-width: $width-table) {
    padding-top: 20px;
  }

  @media (min-width: $width-table) {
    gap: $padding-table;
  }
}

.main-content__header {
  @include set-typography(36px, 36px);
  //padding-bottom: 42px;

  @media (min-width: $width-table) {
    @include set-typography(60px, 60px);
  }
}

.main-content__sub-header {
  position: relative;

  &:before {
    @include set-item-border(0, 0, 35%, 0);
    border-bottom: 2px solid $color-primary;
    width: calc(100vw - 20px);
    left: $padding-mobile;
  }

  //  @media (min-width: $width-table) {
  //&::before {
  //width: 100vw;
  //top: 77px;
  //left: unset;
  //box-shadow: 100vw 0 0 $color-primary;
  //}
}

.main-content__sub-header h2 {
  @include set-typography(24px, 27px);
  position: relative;
  display: flex;
  width: fit-content;
  //padding-top: 25px;
  padding-right: 20px;
  background: $color-white;

  @media (min-width: $width-table) {
    @include set-typography(36px, 36px);
    padding-top: 55px;
    padding-right: 42px;
    //margin-left: -40px;
    //padding-left: 40px;
  }

  @media (max-width: $width-table) {
    //max-width: 187px; catalog add tovar
  }
}
