.present {
  position: relative;

  @include set-flexbox(column);
  row-gap: 47px;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  padding-top: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:
    linear-gradient($color-primary-opacity, $color-primary-opacity),
    image-set(
                  url("../../images/cat-green-catalog-mobile@1x.webp") type("image/webp") 1x,
                  url("../../images/cat-green-catalog-mobile@2x.webp") type("image/webp") 2x,
                  url("../../images/cat-green-catalog-mobile@1x.png") type("image/png") 1x,
                  url("../../images/cat-green-catalog-mobile@2x.png") type("image/png") 2x);

  @media (min-width: $width-table) {
    padding-top: 0;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 79px;
    padding-right: 137px;
    //gap: 265px;
    background-image:
      linear-gradient($color-primary-opacity, $color-primary-opacity),
      image-set(
                    url("../../images/cat-green-catalog-tablet@1x.webp") type("image/webp") 1x,
                    url("../../images/cat-green-catalog-tablet@2x.webp") type("image/webp") 2x,
                    url("../../images/cat-green-catalog-tablet@1x.png") type("image/png") 1x,
                    url("../../images/cat-green-catalog-tablet@2x.png") type("image/png") 2x);
  }

  @media (min-width: $width-desktop) {
    justify-content: flex-start;
    gap: 43px;
    flex-direction: column;
    padding-top: 59px;
    padding-left: 2px;
    padding-right: 0;
    background-image:
      linear-gradient($color-primary-opacity, $color-primary-opacity),
      image-set(
                    url("../../images/cat-green-catalog@1x.webp") type("image/webp") 1x,
                    url("../../images/cat-green-catalog@2x.webp") type("image/webp") 2x,
                    url("../../images/cat-green-catalog@1x.png") type("image/png") 1x,
                    url("../../images/cat-green-catalog@2x.png") type("image/png") 2x);
  }
}

.present__text {
  @include set-typography(16px, 20px, $color-white, $font-secondary);
  text-align: center;

  @media (min-width: $width-table) {
    text-align: left;
    padding-top: 5px;
  }

  @media (min-width: $width-desktop) {
    text-align: center;
  }
}
