.preview {
  @media (max-width: $width-desktop) {
    position: relative;
  }
}

.preview__container {
  z-index: 3;
  position: relative;
  padding: 20px 34px 0;
  width: calc(100% - 2 * 35px);

  @include set-flexbox(column);
  justify-content: center;
  align-items: center;

  @media (min-width: $width-table) {
    align-items: flex-start;
  }
}

.preview__wrapper {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;

  &::after {
    content: "";
    background: $color-primary;
    opacity: 0.85;
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 1;

    @media (min-width: $width-desktop) {
      height: 694px;
    }
  }


  @media (min-width: $width-table) and (max-width: $width-desktop) {
    display: none;
  }

  @media (min-width: $width-desktop) {
    width: 50%;
    height: 694px;
    position: absolute;
    left: 50%;
    top: 0;
  }
}

.preview__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: $width-desktop) {
    object-position: left;
  }
}

.preview__header {
  padding-top: 5px;
  padding-bottom: 26px;
  text-align: center;

  @include set-typography(36px, 36px, $color-white);
  font-weight: 400;

  @media (min-width: $width-table) {
    @include set-typography(60px, 60px, $color-black);
    text-align: left;
    padding: 45px 197px 39px 85px;
  }

  @media (min-width: $width-desktop) {
    padding: 88px 685px 40px 156px;
  }
}

.preview__text {
  @include set-typography(14px, 14px, $color-white);
  @include set-typography-additional();
  padding-bottom: 29px;

  @media (min-width: $width-table) {
    @include set-typography(20px, 20px, $color-black);
    text-align: left;
    padding-left: 86px;
    padding-right: 330px;
    padding-bottom: 20px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 156px;
    padding-bottom: 340px;
  }
}

.preview__button {
  width: calc(100vw - 40px);
  margin-top: -2px;
  margin-left: 2px;

  @media (min-width: $width-table) {
    width: 244px;
    position: absolute;
    top: 296px;
    left: 118px;
  }

  @media (min-width: $width-desktop) {
    top: 343px;
    left: 188px;
  }
}

.preview__can {
  display: flex;
}

.preview__product {
  flex: 1;
  align-self: center;
  padding-bottom: 5px;

  @media (min-width: $width-table) {
    padding-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    top: 29px;
    left: 556px;
  }
}
