.preview__wrapper {
  @media (min-width: $width-table) and (max-width: $width-desktop) {
    display: none;
  }
}

.preview__header {
  color: $color-white;
  margin-bottom: 25px;

  @media (min-width: $width-table) {
    color: $color-black;
  }
}

.preview__text {
  @include set-typography();
  @include set-typography-additional();
}

.preview__button {
  margin: 0 20px;
}