.preview {
  background-image:
    linear-gradient(0deg, $color-white 178px, $color-primary-opacity 0),
    image-set(
      url("../../images/cat-green-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/cat-green-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/cat-green-mobile@1x.png") type("image/png") 1x,
      url("../../images/cat-green-mobile@2x.png") type("image/png") 2x),
    linear-gradient(0deg, $color-white 178px, $color-bg-img 0);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;

  @media (min-width: $width-table) {
    padding-bottom: 24px;
    margin-top: 0;
    background-image: none;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 110px;
    min-height: 566px;
  }
}

.preview__container {
  z-index: 3;
  position: relative;
  padding-top: 27px;

  @include set-flexbox(column);
  justify-content: center;
  text-align: center;

  @media (min-width: $width-table) {
    padding-top: 50px;
    padding-left: 120px;
    text-align: left;
  }

  @media (min-width: $width-desktop) {
    padding-top: 95px;
    padding-left: 190px;
  }
}

.preview__header {
  @include set-typography(36px, 36px, $color-white);
  padding-bottom: 26px;

  @media (min-width: $width-table) {
    @include set-typography(60px, 60px, $color-black);
    order: 1;
    max-width: 416px;
    padding-bottom: 40px;
  }

  @media (min-width: $width-desktop) {
    max-width: 440px;
    padding-bottom: 39px;
  }
}

.preview__text {
  @include set-typography(14px, 14px, $color-white);
  @include set-typography-additional();
  margin: 0;
  padding: 0;
  padding-bottom: 29px;

  @media (min-width: $width-table) {
    @include set-typography(20px, 20px, $color-black);
    padding-bottom: 50px;
    order: 2;
  }
}

.preview__button {
  width: 100%;
  padding: 0;
  text-decoration: none;
  position: relative;

  @media (min-width: $width-table) {
    width: 244px;
    order: 3;
  }
}

.preview__can {
  width: 280px;
  height: 270px;

  @media (min-width: $width-table) {
    width: 706px;
    height: 606px;
  }

  @media (min-width: $width-desktop) {
    width: 552px;
    height: 500px;
  }
}

.preview__product {
  margin-top: -3px;

  @media (min-width: $width-table) {
    padding-bottom: 0;
    order: 4;
    margin-top: -82px;
    margin-left: -88px;
    text-align: center;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    top: 93px;
    left: 85px;
    right: 0;
    display: flex;
    justify-content: center;
    padding-left: 226px;
    pointer-events: none;
  }
}
