.product {
  display: grid;
  grid-template-rows: minmax(107px, auto) 40px;
  grid-template-columns: 140px 1fr;
  row-gap: 11.5px;
  padding-top: 22px;
  padding-bottom: 23px;
  position: relative;

  @media (min-width: $width-table) {
    display: grid;
    padding: 162px 38px 38px;
    grid-template-rows: auto 40px;
    grid-template-columns: 1fr;
    background: #f2f2f2;
    row-gap: 32px;
  }

  @media (min-width: $width-desktop) {
    padding: 152px 38px 39px;
  }
}

.product__image-wrapper {
  display: flex;
  margin: 0 auto;

  @media (min-width: $width-table) {
    justify-content: center;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    transform: translateY(145px);
  }
}

.product:nth-child(1) {
  @include set-item-border-before();
}

.product__info {
  @include set-flexbox(column);
  //row-gap: 14px;

  @media (min-width: $width-table) {
    align-items: center;
    //row-gap: 20px;
  }

  //@media (min-width: $width-desktop) {
  //row-gap: 16px;
  //}
}

.product__name {
  @include set-typography(16px, 20px, $color-text-800);
  @include set-typography-additional();
  width: 76px;
  margin: 0;
  padding: 0;
  text-decoration: none;

  @media (min-width: $width-table) {
    @include set-typography(20px, 24px, $color-text-800);
    width: auto;
    text-align: center;
    max-width: 145px;
  }
}

.product__name--new {
  color: $color-text-600;
  width: 100%;
}

.product__more {
  @include set-typography(12px, 16px, $color-text-400, $font-secondary);
  margin: 0;
  padding: 0;

  @media (min-width: $width-table) {
    @include set-typography(16px, 20px, $color-text-400, $font-secondary);
  }
}


.product__button {
  grid-column: 1 / 4;
  grid-row: 2/ 3;
  width: 100%;

  @media (min-width: $width-table) {
    grid-row: inherit;
    grid-column: inherit;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}

.product--default {
  @include set-flexbox(column);
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding-top: 25px;
  padding-bottom: 26px;

  @media (min-width: $width-table) {
    background: $color-white;
    border: 1px solid $color-border-200;
    grid-template-rows: auto 40px;
    padding-bottom: 35px;
    display: grid;
    row-gap: 47px;
    align-items: flex-start;
    padding-top: 156px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 120px;
    row-gap: 0;
    padding-bottom: 39px;
  }
}

.product--default .product__image-wrapper {
  bottom: -125px;
}

.product--default .product__info {
  row-gap: 8px;
  padding-top: 5px;
  text-align: center;
  align-items: center;

  @media (min-width: $width-table) {
    row-gap: 23px;
    width: calc(100% - 75px);
    margin: 0 auto;
    padding-top: 6px;
  }

  @media (min-width: $width-desktop) {
    width: 100%;
    row-gap: 25px;
    padding-top: 28px;
  }
}

.product--default .product__image {
  @media (min-width: $width-table) {
    width: 60px;
    height: 60px;
    margin: auto;
  }
}
