.socials__list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  border-left: 0;
  border-right: 0;
}

.socials__item {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $width-table) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.socials__link {
  display: flex;
  color: inherit;

  &:hover svg {
    stroke: $color-primary;
  }

  &:active svg {
    stroke: $color-primary;
    opacity: 0.3;
  }
}
