.stages {
  padding-bottom: 29px;

  @media (min-width: $width-table) {
    padding-bottom: 35px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 49px;
  }
}

.stages__list {
  counter-reset: numbers;
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 43px 0 0;

  @media (min-width: $width-table) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 86px;
    column-gap: 59px;
    padding-top: 72px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 78px;
    padding-top: 72px;
  }
}

.stages__item {
  list-style: none;
  position: relative;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;

  @media (min-width: $width-table) {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    padding-bottom: 47px;
    gap: 29px;
  }

  &::after {
    position: absolute;
    left: 115px;
    top: -40px;
    counter-increment: numbers;
    content: counter(numbers);
    visibility: hidden;
    z-index: 1;

    @media (min-width: $width-table) {
      visibility: visible;

      @include set-typography(280px, 280px, $color-text-200);
    }
  }
}

.stages__icon-container {
  background: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  @include set-background-svg-options();

  @media (min-width: $width-table) {
    width: 80px;
    height: 80px;
  }
}

.stages__text {
  padding-top: 2px;
  z-index: 3;

  @include set-typography(14px, 18px, $color-text-400, $font-secondary);

  @media (min-width: $width-table) {
    @include set-typography(16px, 24px, $color-black, $font-secondary);
    padding-top: 3px;
    padding-right: 60px;
    text-wrap: pretty;
  }

  @media (min-width: $width-desktop) {
    padding-right: 0;
  }
}
