.stages {
  padding-bottom: 29px;

  @media (min-width: $width-desktop) {
    padding-bottom: 23px;
  }
}

.stages__list {
  counter-reset: numbers;
  display: grid;
  gap: 20px;
  padding-top: 42px;

  @media (min-width: $width-table) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 87px;
    column-gap: 61px;
    padding-top: 73px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 78px;
    padding-top: 72px;
  }
}

.stages__item {
  list-style: none;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;

  @media (min-width: $width-table) {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    padding-bottom: 47px;
    gap: 29px;
  }

  &::before {
    content: " ";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $color-primary;
    z-index: 2;

    @include set-background-svg-options();

    @media (min-width: $width-table) {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    @include set-svg-sprite("leaf", 25px, 32px);
  }

  &--water::before {
    @include set-svg-sprite("water", 27px, 29px);
  }

  &--eat::before {
    @include set-svg-sprite("eat", 27px, 30px);
  }

  &--time::before {
    @include set-svg-sprite("time", 27px, 31px);
  }

  &::after {
    position: absolute;
    left: 115px;
    top: -40px;
    counter-increment: numbers;
    content: counter(numbers);
    visibility: hidden;
    z-index: 1;

    @media (min-width: $width-table) {
      visibility: visible;

      @include set-typography(280px, 280px, $color-text-200);
    }
  }
}

.stages__text {
  padding-top: 2px;
  z-index: 3;

  @include set-typography(14px, 18px, $color-text-400, $font-secondary);

  @media (min-width: $width-table) {
    @include set-typography(16px, 24px, $color-black, $font-secondary);
    padding-top: 2px;
    padding-right: 60px;
    text-wrap: pretty;
  }

  @media (min-width: $width-desktop) {
    padding-right: 0;
  }
}
